> 文档已迁移至 https://deepbrainchain.github.io/DBC-Wiki/onchain-guide/Machine_verification.html
